* ::before, * ::after {
    box-sizing: border-box;
    align-items: center;
}
/* header style */

header {
    display: inline;
}

.timer-container {
    text-align: right;
    font-weight: bolder;
}
h3 {
    color: rgb(212, 142, 212);
}
/* Header ends */

/* Quiz portion */
#intro {
    text-align: center;
}
#btn, #start {
    background-color: rgb(58, 4, 58);
    color: white;
    border: solid;
    height: 30px;
    width: 125px;
    border-radius: 10px;
    border-spacing: 5px;
}
.answer {
    border-top: solid grey;
    font-weight: lighter;
}
/* Quiz ends */

/* Footer */

footer {
    background-color: rgb(58, 4, 58);
}
footer h4 {
    color:white;
    text-align: right;
}
.portfolio {
    background-color: rgb(212, 142, 212);
}